.leftMenu {
  height: 100%;
  .lastMenu {
    position: absolute !important;
    bottom: 0;
    width: 240px !important;
  }
  li {
    position: relative;
    height: 0.5rem !important;
    line-height: 0.5rem !important;
    .text {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      font-family: SourceHanSansCN-Medium, SourceHanSansCN;
      font-weight: 500;
      color: rgba(102, 102, 102, 1);
      margin-left: 14px;
    }
  }
  .icon {
    width: 32px;
    height: 32px;
    left: 64px;
    display: inline-block;
    vertical-align: middle;
  }
}
